
dist
tmp
out-tsc

node_modules

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

.next
out

test-output

playwright-report/
test-results/

vite.config.*.timestamp*
vitest.config.*.timestamp*
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

storybook-static

*.tsbuildinfo
*.d.ts.map

.direnv/

.env
.env.*
!.env.example


.vercel

result

.devenv*
.direnv*
/.cache
/.pre-commit-config.yaml
man

.pre-commit-config.yaml
